#allElements {
    margin: 0px;
}


/*Header Section*/

header {
    /*border: solid 1px red;*/
    height: 60px;
    /*background-color: #2874f0;*/
}

.navbar {
    overflow: hidden;
    background-color: #2874f0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

.brand {
    float: left;
}

#logo {
    height: 24px;
    width: 100px;
    margin-top: 17%;
    margin-left: 247%;
}

#Search {
    height: 28px;
    width: 536px;
    margin-top: 3%;
    margin-left: 50%;
    border: none;
}

#log {
    color: #2874f0;
    font-weight: bold;
    background-color: white;
    border: none;
    height: 26px;
    width: 117px;
    margin-top: 1%;
    margin-left: 15%;
}

.cart {
    height: 50px;
    width: 200px;
    /*border: 2px solid black;*/
    margin-left: 56%;
    margin-top: -2%;
}

#cartLogo {
    height: 29px;
    width: 31px;
    margin-top: 4%;
    margin-left: 9%;
}

.cart>span {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    margin-left: 3%;
}

#location {
    height: 50px;
    width: 50px;
    margin-top: -48px;
    margin-left: 62%;
    background-color: #2874f0;
}

#loc_btn {
    background: #2874f0;
    outline: none;
    border: none;
}

#loc_img {
    height: 40px;
    width: 40px;
}

#locationOut {
    height: 50px;
    width: 130px;
    margin-top: -55px;
    margin-left: 65%;
    color: white;
    font-weight: bold;
    /*border: solid 1px black;*/
    text-align: center;
    justify-content: center;
}

#locationOut .OutPut {
    margin-top: 5px;
}

.mode {
    height: 50px;
    width: 50px;
    margin-left: 95%;
    margin-top: -50px;
    text-align: center;
}

.modeBtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    color: yellow;
    border: none;
    font-size: 20px;
    box-shadow: 2px 1px 9px rgb(177, 172, 172);
}


/* Category Section */

.Category {
    height: 100px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 4px 5px gray;
}

.Fashion0 {
    margin-left: 50px;
}

.Appliances0 {
    margin-left: 50px;
}

.Electronics0 {
    margin-left: 50px;
}

.TopOffers0 {
    margin-left: 50px;
}

.bottom {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.Category .bottom:Hover {
    color: #2874f0;
}

.Category a {
    text-decoration: none;
}


/*Banner Section*/

#devCarousel {
    width: 90%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    /*border: solid 2px red;*/
}

.carousel-inner {
    width: 100%;
    height: 100%;
    align-items: center;
}

#image {
    height: 280px;
    width: 95%;
    margin: auto;
}


/*Electronics Sections*/

#Electronics {
    width: 90%;
    height: 400px;
    margin: auto;
    box-shadow: 5px 4px 5px gray;
    /*border: 5px double orange;*/
}

.tileContainer {
    height: 357px;
    width: 15%;
    margin-left: 1%;
    margin-top: 1%;
    /*border: 1px solid black;*/
    float: left;
}

.tileComponent1 {
    width: 100%;
    height: 250px;
}

.tileComponent1>img {
    display: block;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

.tileComponent2 {
    width: 100%;
}

.compHeading1 {
    font-size: 35px;
    text-align: center;
    margin-top: -11px;
}

.compSubHeading1 {
    text-align: center;
    margin-top: 10px;
}

.compSubHeading1>button {
    color: white;
    font-weight: bold;
    background-color: #2874f0;
    border: none;
    height: 26px;
    width: 117px;
}


/** Camera, PowerBank, Monitors, Projectors, Printers **/

.compHeading2 {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.compSubHeading2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(49, 160, 49);
    margin-top: 10px;
}

.compSubHeading3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
    margin-top: 10px;
}


/*Cloths Section*/

#Beauty {
    width: 90%;
    height: 400px;
    margin: auto;
    box-shadow: 5px 4px 5px gray;
    /*border: 5px groove green;*/
}


/* Home and Kitchen Essentials section */

#Home_Essentials {
    width: 90%;
    height: 400px;
    margin: auto;
    box-shadow: 5px 4px 5px gray;
    /*border: 5px solid red;*/
}


/*Fashion Section*/

#Fashion_Deals {
    width: 90%;
    height: 400px;
    margin: auto;
    box-shadow: 5px 4px 5px gray;
}


/*TV & Appliances*/

#TopDealsOn_TvAppliances {
    width: 90%;
    height: 400px;
    margin: auto;
    box-shadow: 5px 4px 5px gray;
}


/*About*/

.AboutFlipkart {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin: auto;
    width: 98%;
}

.AboutFlipkart>h1 {
    font-size: 16px;
    font-weight: bold;
}

.AboutFlipkart>h2 {
    font-size: 14px;
    font-weight: bold;
}


/*Footer*/

footer {
    background-color: #172337;
    color: white;
}

.footer1 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.leftSide {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}

.rightSide {
    margin-left: 150px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    border-left: gray solid 1px;
    padding-left: 20px;
}

.footerTitle {
    color: gray;
    font-size: 13px;
    margin-left: 38px;
}

.footerTitle2 {
    color: gray;
    font-size: 13px;
}

ul {
    list-style-type: none;
    margin-left: 0px;
}

li {
    margin-bottom: 10px;
}

footer>hr {
    color: gray;
}

.footer2 {
    font-family: Arial, Helvetica, sans-serif;
}

.footer2>table {
    margin-left: 130px;
}

.thead {
    padding-right: 137px;
}

.thead>img {
    height: 27px;
    width: 367px;
}


/* Dark theme */

.DarkMode {
    background-color: rgb(32, 31, 31);
    color: white;
}

.DarkMode .AboutFlipkart {
    color: whitesmoke;
}

.DarkMode .bottom {
    color: white;
}

.DarkMode .modeBtn {
    color: rgb(41, 38, 38);
}


/* Coupons section */

#allElements {
    z-index: 1;
}

#devCarousel2 {
    height: 400px;
    width: 800px;
    /*background-color: red;*/
    z-index: 100;
    opacity: 1;
    position: absolute;
    margin-top: -232%;
    margin-left: 28%;
    /*visibility: hidden;*/
    /*background-image: url("img/Coupon1.jpg");*/
}

.bg-img-1 {
    background-image: url(img/Coupon1.jpg);
}

.bg-img-2 {
    background-image: url(img/Coupon2.jpg);
}

.bg-img-3 {
    background-image: url(img/Coupon3.jpg);
}

.carousel-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#closeButton {
    margin-left: 96%;
    background: transparent;
    font-size: 30px;
    border: none;
}